{% extends 'base.html' %}
{% block content %}
    <h2>Available Books</h2>
        {% for book in all_books %}
            <ul>
                <li>Title: <a href="/books/{{ book.id }}">{{book.title}}</a></li>
                <li>Genre: {{book.genre}}</li>
            </ul>
            <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
              </form>
        {% endfor %}
        

{% endblock content %}